@tailwind base;
@tailwind components;
@tailwind utilities;

/* this code is to remove number arrows form input field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}